<%- include('partials/header'); -%> <%- include('partials/navbar') %>
<header style="background-color: gray; height: 92.5vh; overflow-y: hidden">
  <div
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80vh;
    "
  >
    <div>
      <h1>Task Manager app</h1>
      <div class="headings">
        <h2>Manage you tasks</h2>
        <h3>By Fajrjas</h3>
      </div>
      <div style="margin-top: 2rem">
        <a
          href="/task"
          style="
            background-color: white;
            border-radius: 2rem;
            padding: 0.5rem 1rem;
            text-decoration: none;
            color: black;
          "
          >Go to tasks (click here)</a
        >
      </div>
    </div>
  </div>
</header>

<%- include('partials/footer') %>
